{% assign ui_text = site.data.ui-text['ui_text'] %}
{% assign settings = site.data.settings['settings'] %}

{% if site.works.size > 0 %}
{% assign sorted_works = site.works | sort: "date" | reverse %}

  <!-- Work -->
  <div class="section clients">
    <div class="content">

    	{{ if ui_text.work != '' }}
		<div class="title">
			<div class="title_inner">{{ ui_text.work }}</div>
		</div>
		{{ endif }}
		{{ if ui_text.work-sub != '' }}
		<p>{{ ui_text.work-sub }}</p>
		{{ endif }}

      <!-- Main Style for First N Non-Draft Items -->
      <div class="box-items main-style">
        {% assign non_draft_works = sorted_works | where: "draft", false %}
        {% for item in non_draft_works limit: settings.work_highlight_limit %}
        <div class="box-item">
          <div class="image">
            <a target="_blank" href="{{ item.external_url | default: '#' }}">
              <img src="{{ item.image | relative_url }}" alt="{{ item.title }}"/>
              <span class="info">
                <span class="centrize full-width">
                  <span class="vertical-center resume-items">
                    <span class="resume-item">
					
                      {% assign year = item.date | date: "%Y" %}
                      {% assign formatted_title = item.title | append: " (" | append: year | append: ")" %}

                      <p class="name glitch-effect-white" data-text="{{ formatted_title }}">{{ formatted_title }}</p>
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      {{ if settings.work_show_all == '1' }}
      <!-- Secondary Style for Remaining Non-Draft Items -->
      <div class="box-items secondary-style">
        {% for item in non_draft_works offset: settings.work_highlight_limit %}
        <div class="box-item">
          <span class="info">
            <span class="resume-items">
              <span class="resume-item">
                <a target="_blank" href="{{ item.external_url | default: '#' }}">
                  <p class="name">{{ item.title }}</p>
                </a>
              </span>
            </span>
          </span>
        </div>
        {% endfor %}
      </div>
      {{ endif }}
    </div>
  </div>
  <div class="clear"></div>
{% endif %}