{% assign body = site.data.content['resume'] %}
{% assign about = site.data.content['about'] %}
{% assign showreel = site.data.content['showreel'] %}

<!-- About -->
<div class="section about">
	<div class="content">
		{{ if about.title != '' }}
		<div class="title">
			<div class="title_inner">{{ about.title }}</div>
		</div>
		{{ endif }}

		{{ if about.image != '' }}
		<div class="image">
			<img src="{{ about.image | relative_url }}" alt="My Profile" />
		</div>
		{{ endif }}

		<div class="desc">
			{{ about.text | markdownify }}

			<div class="info-list">
				<ul>
					{% for item in about.list %}
					<li><strong>{{ item.label }}:</strong> {{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="button-list">
				<ul>
					<li>
						<div class="bts"><a target="_blank" href="{{ about.download.link | relative_url }}" class="btn fill" data-text="{{ about.download.text }}">{{ about.download.text }}</a></div>
					</li>
					
					{% for link in about.social %}
						<li><a target="_blank" href="{{ link.url }}" title="{{ link.title }}" class="h-subtitle"><span class="ion ion-{{ link.icon }}"></span></a></li>
					{% endfor %}
			
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>


<!-- Showreel -->
<div class="section about">
	<div class="content">
		{{ if showreel.title != '' }}
		<div class="title">
			<div class="title_inner">{{ showreel.title }}</div>
		</div>
		{{ endif }}
		
		{{ if showreel.youtube_id != '' }}
			{% include player.html id=showreel.youtube_id %}
		{{ endif }}

		<div class="clear"></div>
	</div>
</div>


<!-- Resume -->
<div class="section resume">
	<div class="content">
		<div class="cols">
			<div class="col col-md">
				<div class="title">
					<div class="title_inner">{{ body.experience.title }}</div>
				</div>
				<div class="resume-items">
					{% for item in body.experience.items %}
					<div class="resume-item active">
						<div class="date">{{ item.year }}</div>
						<div class="name">{{ item.name }}</div>
						<p>
  							{{ item.text | markdownify }}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col col-md">
				<div class="title">
					<div class="title_inner">{{ body.additional.title }}</div>
				</div>
				<div class="resume-items">
					{% for item in body.additional.items %}
					<div class="resume-item">
						<div class="date">{{ item.year }}</div>
						<div class="name">{{ item.name }}</div>
						<p>
  							{{ item.text | markdownify }}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>