{% assign ui_text = site.data.ui-text['ui_text'] %}
{% assign settings = site.data.settings['settings'] %}

{% if site.resume.size > 0 %}
{% assign sorted_resume = site.resume | sort: "date" | reverse %}
{% assign content = sorted_resume | where: "draft", false %}

<!-- Resume -->
<div class="section resume">
	<div class="content">
		<div class="cols">
			<div class="col col-md">
				{{ if ui_text.resume != '' }}
					<div class="title">
						<div class="title_inner">{{ ui_text.resume }}</div>
					</div>
				{{ endif }}
				{{ if ui_text.resume-sub != '' }}
					<p>{{ ui_text.resume-sub }}</p>
				{{ endif }}
				<div class="resume-items">
					{% for item in content %}
					<div class="resume-item active">
						{% if page.date_start and page.date_start != "" %}
						<div class="date">{{ item.date_start | date: site.date_format }} - {{ item.date_end | date: site.date_format | default: 'Present'}}</div>
						{% endif %}
						<div class="name">{{ item.title}}, <a target="_blank" href="{{ item.external_url | default: '#' }}">{{ item.company}}</a></div>
						<p>
  							{{ item.description | markdownify }}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col col-md">
				<div class="title">
					<div class="title_inner">{{ site.data.highlights.title }}</div>
				</div>
				<div class="resume-items">
					{% for item in site.data.highlights.items %}
					<div class="resume-item">
						<div class="date">{{ item.year }}</div>
						<div class="name">{{ item.name | markdownify }}</div>
						<p>
  							{{ item.text | markdownify }}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}