{% assign columns = site.data.content.columns %}

<!-- Resume -->
<div class="section resume">
    <div class="content">
        <div class="cols">
            {% for column in columns %}
                {% include resume-column.html
                    title_key=column.title_key
                    subtitle_key=column.subtitle_key
                    collection_name=column.collection_name
                    sort_field=column.sort_field
                    end_date_field=column.end_date_field
                    sort_order=column.sort_order %}
            {% endfor %}
        </div>
    </div>
</div>