@use "setting" as v; // local use inside this module

//–––– MIXINS ––––
// Vendor-prefix transform
@mixin transform-rotate($angle) {
  -webkit-transform: $angle;
  -moz-transform:    $angle;
  -ms-transform:     $angle;
  transform:         $angle;
}

// Box-sizing helper
@mixin box-content {
  -webkit-box-sizing: content-box;
  -moz-box-sizing:    content-box;
  box-sizing:         content-box;
}

// shared styling for .bar and for .fill when it appears
@mixin bar-fill-base {
  position: absolute;
  width:  v.$inner-size;
  height: v.$inner-size;
  clip:   rect(0em, 0.5em, 1em, 0em);
  border: v.$inner-offset solid v.$active-color;
  border-radius: 50%;
  transform-rotate: 0deg;
}