---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Started -->
<div class="section "></div>

<!-- Blog -->
<div class="section blog">

	<div class="content">
		<p><a href="{{ '/' | relative_url }}">{{ ui_text.return }}</a></p>
		<div class="title">
			<div class="h-title stroke-text" data-text="{{ ui_text.archive }}: {{ page.title }}">{{ ui_text.archive }}: {{ page.title }}</div>

		</div>
		{% if page.date and page.date != "" %}
		 <div class="date">{{ page.date | date: site.date_format }}</div>
		{% endif %}
	</div>


	<div class="content">
		<div class="post-items">
			{% for post in page.posts %}
			<div class="post-item">
				<div class="date">{{ post.date | date: site.date_format }}</div>
				<!--<div class="categories">{{ post.categories | join: ", " }}</div>-->
				<div class="title">
					<a href="{{ post.url }}" class="title_inner">{{ post.title }}</a>
				</div>
				<!-- Display the first sentence -->
				<p class="excerpt">
				{{ post.content | strip_html | split: "." | first }}.
				</p>
			</div>
			{% endfor %}
		</div>

		<div class="clear"></div>
	</div>
</div>