---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Blog -->
<div class="section blog">
	<div class="content">
		
		<div class="vertical-center">
			<div class="content">
				<p><a href="javascript:window.history.back()">{{ ui_text.return }}</a></p>
				<div class="h-title stroke-text">{{ page.title }}</div>
				{% if page.date and page.date != "" %}
				 <div class="date">{{ page.date | date: site.date_format }}</div>
				{% endif %}
			</div>
		</div>

		<div class="single-post-text">
			{{ page.content | markdownify }}
		</div>

		<div class="clear"></div>
	</div>
</div>